/*
!code/
!css/
!javascript/
!thirdparty/
thirdparty/*
!thirdparty/select2/
!thirdparty/typeahead.js/
thirdparty/typeahead.js/*
!thirdparty/typeahead.js/dist/
thirdparty/typeahead.js/dist/*
!thirdparty/typeahead.js/dist/typeahead.bundle.js
!.bowerrc
!bower.json
!.gitignore
!_config.php
!composer.json
!README.md